# === Swedavia ===
SWEDAVIA_API_KEY=

# === Snowflake, samma för alla verktyg ===
SNOWFLAKE_ACCOUNT=orgname-accountname
SNOWFLAKE_DATABASE=flights_db
SNOWFLAKE_WAREHOUSE=flights_wh

# === dlt laddar raw data ===
SNOWFLAKE_LOADER_USER=dlt_user
SNOWFLAKE_LOADER_PASSWORD=
SNOWFLAKE_LOADER_ROLE=flights_loader

# === dbt transformerar ===
SNOWFLAKE_TRANSFORMER_USER=dbt_user
SNOWFLAKE_TRANSFORMER_PASSWORD=
SNOWFLAKE_TRANSFORMER_ROLE=flights_transformer
DBT_TARGET=dev
DBT_SCHEMA=dbt_dittnamn

# === Streamlit läser marts ===
SNOWFLAKE_REPORTER_USER=streamlit_user
SNOWFLAKE_REPORTER_PASSWORD=
SNOWFLAKE_REPORTER_ROLE=flights_reporter